In [1]:
import pyspark

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('data\sample-spark-data.csv')

In [4]:
df

        name  age
0      Krish   31
1  Sudhanshu   30
2      Sunny   29

To work with PySpark you need to start a Spark Session

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [7]:
spark

In [8]:
df_pyspark=spark.read.csv('data\sample-spark-data.csv')

In [9]:
df_pyspark.show()

+---------+---+
|      _c0|_c1|
+---------+---+
|     name|age|
|    Krish| 31|
|Sudhanshu| 30|
|    Sunny| 29|
+---------+---+

In [10]:
df_pyspark=spark.read.option('header', 'true').csv('data\sample-spark-data.csv')

In [11]:
df_pyspark.show()

+---------+---+
|     name|age|
+---------+---+
|    Krish| 31|
|Sudhanshu| 30|
|    Sunny| 29|
+---------+---+

In [12]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [14]:
df_pyspark.head(3)

[Row(name='Krish', age='31'),
 Row(name='Sudhanshu', age='30'),
 Row(name='Sunny', age='29')]

In [15]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)